/*Link to font used*/
@import url('https://fonts.cdnfonts.com/css/ringbearer');

/*General styles*/
body {
    font-family: "ringbearer", serif;
    margin: 0;
    padding: 0;
    background-image: url("../images/middle-earth-map.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #CBA97B;
    height: 100vh;
    background-position: center;
}

/*Styling for the header at top of page*/
.header {
    width: 100vh;
    background-color: #1B1212;
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #CBA97B;
    overflow: hidden;
    height: 100px;
    font-size: 7px;
    padding-right: 5px;
}

#header-img {
    max-height: 100px;
    display: inline-block;
}

/*Styling to hide divs until required*/
.hide {
    display: none;
}

/*Styling to add transparent box for the questions to be displayed on*/
.background {
    text-align: center;
    background-color: rgba(83, 63, 63, 0.56);
    border-radius: 5%;
    display: block;
    width: 90%;
    padding: 20px;
    color: #D3D3D3;
    margin-top: 5%;
}

/*General styling for buttons*/
.btn {
    display: block;
    height: 75px;
    width: 300px;
    margin: 15px auto 15px auto;
    font-size: 20px;
    font-family: "ringbearer", serif;
    background-color: #CBA97B;
    border-radius: 15px;
    color: #1B1212;
}

/*Styling for quiz type buttons only*/
.type-btn {
    height: 100px;
    font-size: 35px;
}

/*Styling for button hover*/
.btn:hover:not([disabled]) {
    background-color: #1B1212;
    color: #CBA97B;
}

/*Styling for button background colour based on if answer is correct or incorrect*/
.correct {
    background-color: #2E8B57;
}

.incorrect {
    background-color: #C41E3A;
}

/*Styling for next button*/
#next {
    border-radius: 50%;
    width: 100px;
}

/*Styles for Tablet*/
@media screen and (min-width: 768px) {
    #header-text {
        font-size: 24px;
    }

    .header {
        width: 100vh;
    }

    .background {
        margin: 115px 25% auto 25%;
        width: 50%
    }
}

/*Styles for laptop/desktop*/
@media screen and (min-width: 1280px){
    .header {
        height: 150px;
        width: 100vh;
        padding-right: 0;
    }

    #header-img {
        max-height: 150px;
        display: inline-block;
    }

    #header-text {
        display: inline-block;
        font-size: 28px;
    }

    .background {
        margin: 30px 35% 0 35%;
        width: 25%
    }
}